<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.arvrlab.ndkcrashhandler">
    <application>
        <service
            android:process="ru.arvrlab.ndkcrashhandler"
            android:name=".SignalService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:process="ru.arvrlab.test"
            android:name=".test.TestService"
            android:enabled="true"
            android:exported="true"/>
    </application>
</manifest>